*{
    font-family: "Baloo Tamma 2";
    /*box-sizing: border-box;*/
    margin: 0px;
}
#artikelkoptekst{
    box-sizing: border-box;
    font-size: 2em;
   text-align: center;

}
#tekstplaatjes{
    display: inline-block;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;


}
article{
    vertical-align: top;
    width: 25%;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.wrapper{
margin-left: 15%;
}