nav {
  width: auto;
  height: 50px;
  background-color: #24292e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navitem {
  text-decoration: none;
  color: white;
  font-weight: 500;
  width: auto;
  text-align: center;
  transition: 0.2s;
}

.navitem:hover {
  color: gray;
  transform: scale(1.1);
  transition: 0.2s;
}

.navitem:active {
  color: #525252;
}

footer {
  height: 250 px;
  background-color: #24292e;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footitem {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  width: fit-content;
}

.footitem:hover {
  color: gray;
  transition: 0.2s;
}
