body {
  font-family: "Baloo Tamma 2", cursive;
  margin: 0px;
}

#container {
  margin-left: 50px;
  margin-bottom: 30px;
}

#kaartekst {
  display: flex;
}

p,
h3 {
  margin-left: 25px;
  width: 350px;
  line-height: 18px;
}

ul {
  list-style: none;
}

form {
  margin-left: 20px;
  width: 450px;
  height: 283px;
  margin-bottom: 20px;
}

input,
textarea {
  float: right;
}

#button {
  margin-top: 7px;
  margin-left: 120px;
}
