body {
  font-family: "Baloo Tamma 2", cursive;
  margin: 0px;
}

#kopteksten {
  display: flex;
  justify-content: space-around;
}

#afbeeldingen {
  display: flex;
  justify-content: space-evenly;
}

#teksten {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  line-height: 18px;
}

.tekstitem {
  width: 220px;
}
